.wrapper {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.partLeft {
  width: 820px;
  background-color: aqua;
}

.partRight {
  width: 320px;
  background-color: antiquewhite;
  margin-left: 20px;
}
