.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left {
  width: 820px;
  background-color: brown;
}

.right {
  width: 320px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
}
