.wrapper {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.partLeft {
  width: 700px;
  background-color: white;
}

.partRight {
  width: 320px;
  background-color: white;
  margin-left: 20px;
}