.wrapper {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}

.partLeft {
  width: 820px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.partRight {
  width: 320px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
}
