.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.bottom {
  display: flex;
  flex-direction: column;
}
