.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.news-img {
  display: flex;
  width: 350px;
  height: 245px;
  padding: 10px 10px 0px 0px;
}

.news-img img {
  width: 100%;
  height: 100%;
}