.wrapper {
  width: 100%;
  height: 249px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  margin-left: 4px;
}

.header-item {
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 4px;
  font-weight: 600;
}

.header-item2 {
  background-color: #ecf8f9;
  border-radius: 2px;
  padding: 4px;
  margin-left: 8px;
}

.tittle {
  font-size: 16px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
}

.news {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 4px;
}

.news1 {
  background-color: rgb(250, 250, 250);
  padding: 1px 10px;
}

.item a {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
}

.content {
  margin-left: 8px;
}
