.wrapper {
  padding-top: 12px;
  width: 100%;
  margin-top: 20px;
  background: #ebebeb;
}

.intro {
  background-color: #78b43d;
  width: 100%;

  margin-top: 5px;
  span {
    color: white;
  }

  a {
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: black;
  }

  .intro-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom_footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;

  b {
    font-size: 13px;
    color: grey;
    display: flex;
    justify-content: center;
  }
}
