.wrapper {
  padding-top: 12px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  // height: 150px;
  background: #ebebeb;
}

.categories {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 16px;

  a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
  }

  a:hover {
    color: #78b43d;
  }

  ul {
    a {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
.intro {
  background-color: #78b43d;
  width: 100%;

  margin-top: 12px;
  span {
    color: white;
  }

  a {
    font-size: 13px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: black;
  }

  .intro-container {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom_footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  div {
    font-size: 13px;
    color: grey;
    text-align: center;
  }
}
